
<%- include('header') -%>
<%- include('navbar') -%>

<div class="container">
    <h2>Felhasználók</h2>
    <p>Milyen felhasználók vannak:</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Név</th>
            <th>Telefonszám</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <% member.forEach(function(member){ %>
        <tr>
            <td><%=member.name%></td>
            <td><%=member.phone%></td>
            <td><%=member.email%></td>
            <td><button type="button" class="btn" onclick="location.href='/logined/member/del?id=<%=member._id%>';">Törlés</button>
                <input type="button" class="btn" value="Módosítás" onclick="location.href='/logined/member/edit?id=<%=member._id%>';"></td>

        <% }); %>
        </tr>
        </tbody>
    </table>
    <input type="button" class="btn" value="Új felvétele" onclick="location.href = '/logined/member/add';">

</div>

<%- include('footer') -%>

