

<%- include('header') -%>
<%- include('navbar') -%>


<div class="container">
    <h2>Ajtók és a kulcsok</h2>
    <p>Milyen ajtók találhatóak és milyen kulcsok tartoznak hozzájuk</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Hely</th>
            <th>Ajtó</th>
            <th>Kulcsszám</th>
        </tr>
        </thead>
        <tbody>
        <% doorsandkeys.forEach(function(doorsandkeys){ %>
        <!--
        <tr>
            <td>Kert</td>
            <td>Kapu</td>
            <td>1</td>
            <td><button type="button" class="btn">Törlés</button>
                <input type="button" class="btn" value="Módosítás" onclick="location.href = 'doorsandkeysedit.html';"></td>
        </tr>-->

        <tr>
            <td><%=doorsandkeys.place%></td>
            <td><%=doorsandkeys.door%></td>
            <td><%=doorsandkeys.keynum%></td>
        </tr>

        <% }); %>
        </tbody>
    </table>
</div>


<%- include('footer') -%>

