<%- include('header') -%>
<%- include('navbar') -%>

<div class="container">
    <h2>Felhasználók és kulcsaik</h2>
    <p>Melyik felhasználónak hova van kulcsa:</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Felhasználó</th>
            <th>Ajtókulcs</th>
        </tr>
        </thead>
        <tbody>


        <% userandkey.forEach(function(userandkey){ %>
        <tr>
            <td><%=userandkey.user%></td>
            <td><%=userandkey.door%></td>
        </tr>

        <% }); %>

        <!--
        <tr>
            <td>Jocó</td>
            <td>Konyha ajtó</td>
        </tr>
        <tr>
            <td>Pista</td>
            <td>Ebédlő ajtó</td>
        </tr>
        -->
        </tbody>
    </table>
</div>

<%- include('footer') -%>
