
<%- include('header') -%>
<%- include('navbar') -%>


<div class="container">
    <h2>Ajtók és a kulcsok</h2>
    <p>Milyen ajtók találhatóak és milyen kulcsok tartoznak hozzájuk</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Hely</th>
            <th>Ajtó</th>
            <th>Kulcsszám</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <% doorsandkeys.forEach(function(doorsandkeys){ %>
        <!--
        <tr>
            <td>Kert</td>
            <td>Kapu</td>
            <td>1</td>
            <td><button type="button" class="btn">Törlés</button>
                <input type="button" class="btn" value="Módosítás" onclick="location.href = 'doorsandkeysedit.html';"></td>
        </tr>-->

        <tr>
            <td><%=doorsandkeys.place%></td>
            <td><%=doorsandkeys.door%></td>
            <td><%=doorsandkeys.keynum%></td>
            <td>
                <button type="button" class="btn"  onclick="location.href='/logins/doorsandkeys/del?id=<%=doorsandkeys._id%>';" >Törlés</button>
                <input type="button" class="btn" value="Módosítás" onclick="location.href = '/logins/doorsandkeys/edit?id=<%= doorsandkeys._id %>'; " >
            </td>

            <!--
            <td>
                <a href="/kalapacs?id=<%=doorsandkeys._id%>">Megnez</a>
                <a href="/modkalapacs?id=<%=doorsandkeys._id%>">Modosit</a>
                <a href="/del?id=<%=doorsandkeys._id%>">Torol</a>
            </td>-->
        </tr>

        <% }); %>
        </tbody>
    </table>
    <input type="button" class="btn" value="Új felvétele" onclick="location.href = '/logins/doorsandkeys/add';">
</div>

<%- include('footer') -%>

