
<%- include('header') -%>
<%- include('navbar') -%>

<div class="container">
    <h2>Felhasználók</h2>
    <p>Milyen felhasználók vannak:</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Név</th>
            <th>Telefonszám</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <% users.forEach(function(users){ %>
        <tr>
            <td><%=users.name%></td>
            <td><%=users.phone%></td>
            <td><%=users.email%></td>
            <td><button type="button" class="btn" onclick="location.href='/logins/user/del?id=<%=users._id%>';">Törlés</button>
                <input type="button" class="btn" value="Módosítás" onclick="location.href='/logins/users/edit?id=<%=users._id%>';"></td>

        <% }); %>
        </tr>
        </tbody>
    </table>
    <input type="button" class="btn" value="Új felvétele" onclick="location.href = 'users/add';">

</div>

<%- include('footer') -%>

